include header

h1 WELCOME ADMIN USER

h2 Hello, #{user.username}.

p Choose an option:
ul
	li 
		a(href="/account") Account
	li
		a(href="/manage") Manage Users
	li
		a(href="/change-report") Change Report
	li
		a(href="/logout") Log Out