<div class="container" ng-controller="NewReportCtrl">
	<!--Cabecera-->
	<div class="jumbotron text-center">
		<h1>FishKill - New Report </h1>
	</div>

	<div class="row header-buttons">
		<div class="col-sm-12">
			<a href="#/" class="btn btn-warning btn-lg">
				<span class="glyphicon glyphicon-home"></span>  Back to Home
			</a>
		</div>
	</div>

	<div></div>

	<div id="new-form" class="row">
		<div class="col-sm-12">
			<form name="form" class="form-horizontal css-form" role="form">
				<!--DATE OBSERVED-->
				<fieldset class="date-fielset well">
					<div class="form-group">
						<div class="col-sm-12">
					    	<legend>Date Observed</legend>
					    </div>

					    <div class="" ng-controller="DatePickerCtrl">
					        <div class="col-sm-6">
					            <p class="input-group">
					              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
					              <span class="input-group-btn">
					                <button class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
					              </span>
					            </p>
					        </div>
					    </div>
					</div>
				</fieldset>

				<!--REPORT DATA-->
				<fieldset class="report-fieldset well">
					<!--AFFILIATION-->
					<div class="form-group affiliation">
				    	<div class="col-sm-12">
				    		<legend>Affiliation</legend>
				    	</div>

				    	<div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="affiliation" name="uAffiliation"  value="MN-DNR">
							   		MN-DNR
							   	</label>
						    </div>
					    </div>

				    	<div class="col-sm-2">
					    	<div class="radio">
								<label>
									<input type="radio" ng-model="affiliation" name="uAffiliation"  value="MN-PCA">
								    MN-PCA
								</label>
						    </div>
					    </div>

				    	<div class="col-sm-2">
					    	<div class="radio">
							    <label>
								    <input type="radio" ng-model="affiliation" name="uAffiliation"  value="General public">
								    General public
								</label>
						    </div>
					    </div>

					    <div class="col-sm-3">
					    	<div class="radio">
							    <label>
								    <input type="radio" ng-model="affiliation" name="uAffiliation"  value="other">
								    Other: Please specify (Box)
								</label>
								<input type="text" class="form-control" ng-model="custom_affiliation" ng-disabled="affiliation != 'other'" ng-required ="affiliation != 'other'" >
						    </div>
						    
					    </div>
				  	</div>


				  	<!--WATER BODY NAME-->
				   	<div class="form-group water-name">
				  		<div class="col-sm-12">
				    		<legend>Waterbody Name</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
				    			<div class="col-sm-12">
				    				<input type="text" ng-model="water_name" class="form-control" name="uWaterName">
				    			</div>
				    		</div>
				    	</div>
				    </div>


				    <!--WATER BODY COUNTY-->
				   	<div class="form-group water-county">
				  		<div class="col-sm-12">
				    		<legend>Waterbody County</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
				    			<div class="col-sm-12">
				    				<input type="text" ng-model="water_county" class="form-control" name="uWaterCounty">
				    			</div>
				    		</div>
				    	</div>
				    </div>


				    <!--GPS COORDINATES-->
				   	<div class="form-group water-gps">
				  		<div class="col-sm-12">
				    		<legend>GPS Coordinates</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
				    			<div class="col-sm-12">
				    				<input type="text" ng-model="water_gps" class="form-control" name="uWaterGPS">
				    			</div>
				    		</div>
				    	</div>
				    </div>


				    <!--WEATHER CONDITIONS-->
					<div class="form-group weather-conditions">
				    	<div class="col-sm-12">
				    		<legend>Weather conditions. Please check all that apply</legend>
				    	</div>

				    	<div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="cloudly">
							   		Cloudly
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="clear">
							   		Clear
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="sunny">
							   		Sunny
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="rain">
							   		Rain
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="fog">
							   		Fog/Mist
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="snow">
							   		Snow
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="ice">
							   		Ice covered
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="windy">
							   		Windy
							   	</label>
						    </div>
					    </div>

					    <div class="col-sm-2">
					    	<div class="radio">
							    <label>
							    	<input type="radio" ng-model="weather" name="uWeather"  value="other">
							   		Otro
							   	</label>
							   	<input type="text" class="form-control" ng-model="custom_weather" ng-disabled="weather != 'other'" ng-required ="weather != 'other'" >
						    </div>
					    </div>
				  	</div>


				  	<!--ATMOSPHERIC TEMPERATURE-->
				   	<div class="form-group temperature">
				  		<div class="col-sm-12">
				    		<legend>Atmospheric Temperature (Please write the approximate temperature below)</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
				    			<div class="col-sm-12">
				    				<input type="text" ng-model="temperature" class="form-control" name="uTemperature">
				    			</div>
				    		</div>
				    	</div>
				    </div>


				  	<!--SPECIES-->
				  	<div class="form-group species-fields">
				  		<div class="col-sm-12">
				    		<legend>Number Each Species</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
					    	<div class="row col-sm-12 vert-span">
						    	<div class="col-sm-4">
						    		<div class="col-sm-3">
						    			<input type="text" class="form-control" ng-model="species.bluegill" name="uSpeciesBluegill">
						    		</div>
						    		<label for="uSpeciesBluegill" class="control-label">Bluegill</label>
						    	</div>

						    	<div class="col-sm-4">
						    		<div class="col-sm-3 col-sm-offset-2">
							    		<input type="text" class="form-control" ng-model="species.bullhead" name="uSpeciesBullhead">
							    	</div>
							    	<label for="uSpeciesBullhead" class="control-label">Bullhead</label>
							    </div>

							    <div class="col-sm-4">
							    	<div class="col-sm-3 col-sm-offset-2">
						    			<input type="text" class="form-control" ng-model="species.carp" name="uSpeciesCarp">
						    		</div>
						    		<label for="uSpeciesCarp" class="control-label">Carp</label>
						    	</div>
					    	</div>

					    	<div class="row col-sm-12 vert-span">
					    		<div class="col-sm-4">
						    		<div class="col-sm-3">
						    			<input type="text" class="form-control" ng-model="species.catfish" name="uSpeciesCatfish">
						    		</div>
						    		<label for="uSpeciesCatfish" class="control-label">Catfish</label>
						    	</div>

						    	<div class="col-sm-4">
						    		<div class="col-sm-3 col-sm-offset-2">
						    			<input type="text" class="form-control" ng-model="species.crappie" name="uSpeciesCrappie">
						    		</div>
						    		<label for="uSpeciesCrapppie" class="control-label">Crappie</label>
						    	</div>

						    	<div class="col-sm-4">
						    		<div class="col-sm-3 col-sm-offset-2">
						    			<input type="text" class="form-control" ng-model="species.perch" name="uSpeciesPerch">
						    		</div>
						    		<label for="uSpeciesPerch" class="control-label">Perch</label>
						    	</div>
					    	</div>

					    	<div class="row col-sm-12 vert-span">
					    		<div class="col-sm-4">
						    		<div class="col-sm-3">
						    			<input type="text" class="form-control" ng-model="species.smallmouth" name="uSpeciesSmallmouthbass">
						    		</div>
						    		<label for="uSpeciesSmallmouthbass" class="control-label">Smallmouth bass</label>
						    	</div>

						    	<div class="col-sm-4">
						    		<div class="col-sm-3 col-sm-offset-2">
						    			<input type="text" class="form-control" ng-model="species.sunfish" name="uSpeciesSunfish">
						    		</div>
						    		<label for="uSpeciesSunfish" class="control-label">Sunfish</label>
						    	</div>

						    	<div class="col-sm-4">
						    		<div class="col-sm-3 col-sm-offset-2">
						    			<input type="text" class="form-control" ng-model="species.walleye" name="uSpeciesWalleye">
						    		</div>
						    		<label for="uSpeciesWalleye" class="control-label">Walleye</label>
						    	</div>
					    	</div>

					    	<div class="row col-sm-12 custom-species vert-span">
					    		<div class="col-sm-4">
					    			<div class="col-sm-3">
					    				<input type="text" class="form-control" name="uSpeciesNewCount">
					    			</div>
					    			<label for="uSpecies" class="control-label text-center">approximate number of:</label>
					    		</div>
					    		
					    		<div class="col-sm-3">
					    			<input type="text" class="form-control" name="uSpeciesNewName">
					    		</div>
					    	</div>

					    </div>
				    </div>


				    <!--FISH STATUS-->
				    <div class="form-group fish-status">
				  		<div class="col-sm-12">
				    		<legend>Were the fish...</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="col-sm-3">
						    	<div class="checkbox">
					    			<label>
					    				<input type="checkbox" class="" check-list='fish_status' name="uStatusAlive" value="alive">
					    				Alive
					    			</label>
						    	</div>
						    </div>

						    <div class="col-sm-3">
						    	<div class="checkbox">
					    			<label>
					    				<input type="checkbox" class="" check-list='fish_status' name="uStatusDead" value="dead">
					    				Dead
					    			</label>
						    	</div>
						    </div>

						    <div class="col-sm-3">
						    	<div class="checkbox">
					    			<label>
					    				<input type="checkbox" class="" check-list='fish_status' name="uStatusDescomposed" value="descomposed">
					    				Descomposed
					    			</label>
						    	</div>
						    </div>

						    <div class="col-sm-3">
						    	<div class="checkbox">
					    			<label>
					    				<input type="checkbox" class="" check-list='fish_status' name="uStatusGasping" value="gasping">
					    				Gasping for air
					    			</label>
						    	</div>
						    </div>
				    	</div>
				    </div>



				    <!--FISH FEATURES-->
				    <div class="form-group fish-features">
				  		<div class="col-sm-12">
				    		<legend>Symptoms/Lesions seen on the dead fish: Check all that apply</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
					    		<div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uBleeding" value="bleeding">
						    				Bleeding
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uDeformity" value="deformity">
						    				Deformity
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uDecoloration" value="discoloration">
						    				Discoloration/spots
						    			</label>
							    	</div>
							    </div>
							</div>

							<div class="row col-sm-12">
					    		<div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uSores" value="sores">
						    				Sores
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uMissingParts" value="missing-parts">
						    				Missing Parts
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uParasites" value="parasites">
						    				Parasites
						    			</label>
							    	</div>
							    </div>
							</div>


							<div class="row col-sm-12">
					    		<div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uRedFinsLips" value="red-fins">
						    				Red fins or lips
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uTumors" value="tumors">
						    				Tumors
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-4">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='fish_features' name="uNormal" value="normal">
						    				Looked Normal
						    			</label>
							    	</div>
							    </div>
							</div>
				    	</div>
				    </div>


				    <!--WATER FEATURES-->
				   	<div class="form-group water-features">
				  		<div class="col-sm-12">
				    		<legend>About the water...</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
					    		<div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterDark" value="dark">
						    				Dark
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterWeeds" value="full-weeds">
						    				Full of weeds
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterFunny" value="funny-color">
						    				Funny color
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterGreen" value="green">
						    				Green
						    			</label>
							    	</div>
							    </div>
							</div>

							<div class="row col-sm-12">
					    		<div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterNormal" value="normal">
						    				Looked Normal
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterMilky" value="milky">
						    				Milky
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterOily" value="oily">
						    				Oily
						    			</label>
							    	</div>
							    </div>

							    <div class="col-sm-3">
							    	<div class="checkbox">
						    			<label>
						    				<input type="checkbox" class="" check-list='water_features' name="uWaterRed" value="red">
						    				Red
						    			</label>
							    	</div>
							    </div>
							</div>
				    	</div>
				    </div>


				    <!--MORE INFO-->
				   	<div class="form-group more-info">
				  		<div class="col-sm-12">
				    		<legend>Tell us anything else you think is important</legend>
				    	</div>
				    	
				    	<div class="container-fluid">
				    		<div class="row col-sm-12">
				    			<div class="col-sm-12">
				    				<textarea class="form-control" name="uMoreInfo" rows="10"></textarea>
				    			</div>
				    		</div>
				    	</div>
				    </div>
			    	
				</fieldset>

				<!--CONTACT DATA-->
				<fieldset class="contact-fieldset well">
					<div class="form-group">
						<div class="col-sm-12">
					    	<legend>If you would like more information about this event, please provide your contact information below.</legend>
					    </div>

				    	<label for="uFirstName" class="col-xs-3 col-sm-2 control-label">First Name</label>
				    	<div class="col-xs-9 col-sm-4">
				    		<input type="text" class="form-control" ng-model="user.firstname" name="uFirstName">
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label for="uLastName" class="col-xs-3 col-sm-2 control-label">Last Name</label>
				    	<div class="col-xs-9 col-sm-4">
				    		<input type="text" class="form-control" ng-model="user.lastname" name="uLastName">
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label for="uPhone1" class="col-xs-3 col-sm-2 control-label">Phone</label>
				    	<div class="col-xs-9 col-sm-4">
				    		<input type="text" class="form-control" ng-model="user.phone" name="uPhone">
				    	</div>
				  	</div>

				  	<div class="form-group">
				    	<label for="uEmail" class="col-xs-3 col-sm-2 control-label">Email</label>
				    	<div class="col-xs-9 col-sm-4">
				    		<input type="email" class="form-control" ng-model="user.email" name="uEmail">
				    	</div>
				  	</div>
				</fieldset>

				<button type="submit" ng-click="showFormData()" class="btn btn-success btn-lg">
					<span class="glyphicon glyphicon-cloud-upload"></span>  Submit
				</button>


			</form>
		</div>
	</div>
</div>
